<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header class="header">
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <a href="/users/profile">Profile</a>
    <div class="avatar"><img alt="avatar"></div>
  </header>