<%- include('partials/header')%>
<form  action='/users/login' method="POST">
 
    <div class="card">
    <h2>Login Form</h2>
    <label for="" >Email:</label>
    <input type="email" name="email" placeholder="Enter Email"><br/>
     
    <label for="upass" id="ps">Password:</label>
    <input type="password" name="password" placeholder="Enter Password"><br/>
    
<% if (locals.errors && errors.mail) { %>
    <p class="danger"><%= errors.mail.msg %> </p>
<% } %> 
    <label for="">Rember me:</label>
    <input type="checkbox" name="remember" class="check"><br/>
    <button type="submit" value="Login">Login</button>
</div>
</form>