<%- include('partials/header')%>

<form >
 
    <div class="card">
    <h2>Register Form</h2>
    <label for="uname" id="un">Username:</label>
    <input type="text" name="name" placeholder="Enter Username" ><br/>

    <label for="email" id="un">Email:</label>
    <input type="email" name="email" placeholder="Enter Email" ><br/>
     
    <label for="upass" id="ps">Password:</label>
    <input type="password" name="password" placeholder="Enter Password" ><br/>
     
    <button type="submit" value="Register">Register</button>
    </div>
    </form>