body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header a{
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}
.header a:hover{
  color: rgb(174, 0, 255);
}
body{
  background-color: #ccc;
}

.avatar{

  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-top: 0.5%;
  padding-bottom: 1%;
  display: flex;
}

.avatar p{
  color: white;
  margin: auto;
  font-size: 1rem;
}
.profile-image{
/*   max-width: 100%;
  max-height: 100%; */
  object-fit: contain;
  border-radius: 50%;
  margin-right: 20%;
}
.card{
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 25%;
  background-color: rgb(0, 170, 170);
  color: white;
  align-items: center;
  font-size: 2rem;
}
.card input{
  border:none;
  outline: none;
  width: 300px;
  height: 50px;
  font-size: 2rem;
}
.card button{
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(0, 55, 128);
  width: 300px;
  height: 100px;
  justify-content: center;
  border:none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.418);
  margin-bottom: 10px;
}

button:hover{
  background-color: rgb(39, 255, 1);
  color: rgb(255, 255, 255);
}

.profile{
  margin-top: 5%;
}

.check{
  font-size: 1px;
}
.danger{
  color: red;
}